<div class="container">
  <div class="sub">
    <div class="field">
      <h2 class="header">
        Book Store
      </h2>
      <h3 class="text">Reset password</h3>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">


        <!-- <div class="input">
          <mat-form-field appearance="outline" class="text-box">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter email"
              type="email"
              formControlName="Email"
            />
            <mat-hint>Enter a valid email</mat-hint>
          </mat-form-field>
        </div> -->
        <!-- <div class="input">
          <mat-form-field appearance="outline" class="text-box">
            <mat-label>Old password</mat-label>
            <input
              matInput
              placeholder="Enter old password"
              type="password"
              formControlName="OldPassword"
            />
          </mat-form-field>
        </div> -->
        
        <div class="input">
          <div class="input-field-left">
            <mat-form-field appearance="outline" class="text-box">
              <mat-label>New Password</mat-label>
              <input
                matInput
                placeholder="Enter a password"
                type="password"
                formControlName="NewPassword"
              />
              <mat-hint>Atleast 6 characters</mat-hint>
            </mat-form-field>
          </div>
          <div class="input-field-right">
            <mat-form-field appearance="outline" class="text-box">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                placeholder="Enter password again"
                type="password"
                formControlName="ConfirmPassword"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="foot">
          <div class="submit input">
            <button mat-raised-button color="primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
