<div class="container">
<div class="labels">
    <label>Full Name</label>
    <label>Mobile Number</label>
</div>
<div class="inputs">
    <input class="input">
    <input class="input">
</div>
<label class="labels">Address</label>
<div>
    <input class="address">
</div>
<div class="labels">
    <label>City/Town</label>
    <label>State</label>
</div>
<div class="inputs">
    <input class="input">
    <input class="input">
</div>

<button mat-flat-button class="continue" appearance="outline" (click)='onsubClick()'>Submit</button>
</div>