.container {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.image {
    height: 230px;
    width: 250px;
    position: relative;
    // left: 500px;
}

.para {
    width: 400px;
    position: relative;
    // left: 460px;
    text-align: center;
}

.table {
    border: 1px solid #DCDCDC;
    width: 800px;
    position: relative;
    // left: 200px;
    top: 40px;
}

.thead {
    background-color: #FAFAFA;
}

td {
    border: 1px solid #DCDCDC;
    min-width: 300px;
    text-align: center;
}

.continue {
    background-color: #3371B5;
    color: white;
    border: none;
    border-radius: 3px;
    opacity: 1;
    height: 30px;
    width: 160px;
    position: relative;
    top: 70px;
    // left: 570px;
}